// Colors
// $color-primary: #55c57a;
// $color-primary-light: #7ed56f;
// $color-primary-dark: #28b485;

// $color-primary: #ffa605;
$color-primary: #ffb727;
$color-primary-light: #e8d34e;
$color-primary-dark: #e87d07;

// $color-secondary-light: #ffb900;
// $color-secondary-dark: #ff7730;

$color-secondary-light: #55c57a;
$color-secondary-dark: #7ed56f;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Font
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-verticle: 8rem;
$gutter-verticle-small: 6rem;
$gutter-horizontal: 6rem;

$border-radius-1: 6px;
