/* Basic Reset using UNIVERSAL SELECTOR */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  // box-sizing: border-box;
}

/* To acheive equivalent of 10px without affecting users ability to change font-size in their browser for personal readability we divide 16px by 10px = 62.5% 
- This defines what 1 rem equals in this project */
html {
  // This defines what 1rem is. 1 rem  = 10px. 10px/16px = 62.5%
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }

  // @include respond(mobile) {
  //   font-size: 30%; //1rem = 4.8px, 8/16 = 50%
  // }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
::selection {
  background-color: $color-primary;
  color: $color-white;
}

::selection{
  background-color: $color-primary;
  color: $color-white;
}