/* Basic Reset using UNIVERSAL SELECTOR */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* To acheive equivalent of 10px without affecting users ability to change font-size in their browser for personal readability we divide 16px by 10px = 62.5% 
- This defines what 1 rem equals in this project */
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
