.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-lrg {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-med {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-sm {
  margin-bottom: 1.5rem !important;
}

.u-margin-top-lrg {
  margin-top: 8rem !important;
}

.u-margin-top-xlrg {
  margin-top: 10rem !important;
}
